$background-color-primary: #fff;
$background-color-secondary: #f8f8f8;
$background-color-thirdly: #000;

$text-color-primary: #000;
$text-color-secondary: #59606d;
$text-color-thirdly: #959dad;
$text-color-success: #5acf46;

$rating-color-primary: #f2c94c;

$box-shadow-primary: 0px 4px 16px 0px rgba(0, 0, 0, 0.05);
$box-shadow-active: 0px 6px 18px 0px rgba(0, 0, 0, 0.1);
$box-shadow-menu: -4px 0px 16px rgba(0, 0, 0, 0.05);

@mixin Button-primary {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: $background-color-thirdly;
  color: $background-color-primary;
  font-size: 16px;
  font-weight: 400;
  transition: opacity 250ms ease-out;

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

@mixin Title-primary {
  font-size: 32px;
  color: $text-color-primary;
  font-weight: 700;
}

@mixin Title-secondary {
  font-size: 18px;
  color: $text-color-secondary;
  font-weight: 400;
  padding-bottom: 16px;
}

@mixin Field-primary {
  width: 100%;
  height: 50px;
  margin: 8px 0px;
  border: none;
  outline: none;
  background-color: $background-color-secondary;
  border-radius: 8px;
  color: $text-color-primary;
  padding: 14px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;

  &::placeholder {
    color: $text-color-thirdly;
    font-weight: 400;
    font-size: 16px;
  }
}

@mixin ProductCard {
  background-color: $background-color-primary;
  box-shadow: $box-shadow-primary;
  border-radius: 8px;
  transition: box-shadow 250ms ease-out;

  &:hover {
    box-shadow: $box-shadow-active;
  }
}
